.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
}

.prevButton,
.nextButton {
  background-color: rgba(0, 32, 74, 0.7);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prevButton:hover,
.nextButton:hover {
  background-color: #fdb44b;
}

.divButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divButtons button {
  margin-right: 10px;
}

.activePageNumber {
  color: black;
  font-size: large;
  background-color: rgba(253, 180, 75, 1);
  border-radius: 100%;
  border: none;
}

.pageNumber {
  color: white;
  font-size: large;
  background-color: rgba(0, 32, 74, 0.7);
  border-radius: 100%;
  border: none;
}
