.searchDiv {
  display: flex;
  align-items: center;
}
.searchDiv form {
  display: flex;
  align-items: center;
}

.searchDiv input {
  width: 200px;
  height: 25px;
}

.searchDiv button {
  height: 28px;
  text-align: center;
  line-height: 8px;
  background-color: rgba(128, 128, 128, 0.6);
  color:white;
  border: 1px solid white;
}

.error {
  color: red;
  font-size: 15px;
}
