.imgDetailCss img {
    max-width: 100%;
    border:5px solid black;
  }
  
  .detailCss {
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: crimson;
    font-style: oblique;
    text-shadow: 1px 1px 1px black;
  }

  .detailCss h3{
    margin: 10px;
  }
  
  .ppalDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-image: url("https://static.nationalgeographic.es/files/styles/image_3200/public/02-map-day-launch.adapt_.1900.1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  overflow: hidden;
  background-origin: content-box;
  }