.HomeFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  background-color: rgba(0, 32, 74, 0.7);
  padding-bottom: 5px;
}
.ppalHome {
  background-image: url("https://images.ecestaticos.com/q_LkdOe0sqZmPRHmfMzMEYCi3aM=/0x0:1254x836/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F405%2F46d%2F46a%2F40546d46aeb1cbc50a89643a1bef684b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
  background-origin: content-box;
  background-attachment: fixed;
  color: #00204a;
}

.ppalHome p{
  font-size: 17px;
}

.filterAct {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 15px;
  align-items: center;
}

.ordenAlpha {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 15px;
  align-items: center;
}
.ordenPop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 15px;
  align-items: center;
}
.filterCont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 15px;
  align-items: center;
}

.HomeFilters button {
  background-color: rgba(0, 32, 74, 0.7);
  border: none;
  color: white
}