.ppalForm {
  color: black;
  background-image: url("https://images6.alphacoders.com/400/400645.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: fixed;
  background-origin: content-box;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.ppalForm input {
  width: 328px;
}



.ppalForm p{
  margin-bottom: 0;
}

button {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



button:hover {
  background-color: #fdb44b;
  color: #00204a;
}

label {
  display: flex;
  flex-direction: column;
}

span {
  color: red
}

.ppalForm form{
  background-color:rgba(253, 180, 75, 0.8);
  border-style: double;
  padding: 20px;
  border-radius: 20px;
  border-color: white;
}

.buttonSubmit{
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonSubmit button:hover {
  background-color: #00204a;
  color: #fdb44b;
}

.buttonSubmit button{
  background-color: rgba(242, 242, 242, 0.6);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none
}